<!--div id='menu-utama'>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

	<button class='tombol-menu-awal' href='javascript:void(0);' onClick="">
		<img src='{$host}__assets/images/home.png'> Beranda
	</button>
	<button class='tombol-menu-awal' onClick="loadUrl('{$host}index.php/kasir');">
		<img src='{$host}__assets/images/kasir.png'> Kasir
	</button>
	<button class='tombol-menu-awal' onClick="loadUrl('{$host}index.php/pembelian');">
		<img src='{$host}__assets/images/pembelian.png'> Pembelian
	</button>
	<br/>
	<br/>
	<br/>
	<button class='tombol-menu-awal'>
		<img src='{$host}__assets/images/reservasi.png'> Reservasi
	</button>
	<button class='tombol-menu-awal' href='javascript:void(0);' onClick="loadUrl('{$host}index.php/pengaturan');">
		<img src='{$host}__assets/images/setting.png' > Pengaturan
	</button>
	<button class='tombol-menu-awal'>
		<img src='{$host}__assets/images/laporan.png'> Laporan
	</button>
</div-->
<div class="row">
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Beranda</h4>
			</div>
		</div>
		
	</a>
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);" onClick="loadUrl('{$host}index.php/kasir');">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Kasir</h4>
			</div>
		</div>
		
	</a>
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);" onClick="loadUrl('{$host}index.php/pembelian');">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Pembelian</h4>
			</div>
		</div>
		
	</a>
</div>
<div class="row">
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Reservasi</h4>
			</div>
		</div>
		
	</a>
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Pengaturan</h4>
			</div>
		</div>
		
	</a>
	<a class="col-md-3 social-media widget-shadow" href="javascript:void(0);">
		<div class="wid-social youtube">
			<div class="social-icon">
				<i class="fa fa-youtube text-light icon-xlg"></i>
			</div>
			<div class="social-info">
				<h3 class="number_counter bold count text-light start_timer counted">J</h3>
				<h4 class="counttype text-light">Laporan</h4>
			</div>
		</div>
		
	</a>
</div>
