<div id='menu-utama'>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

	<button class='tombol-menu-awal' href='javascript:void(0);' onClick="">
		<img src='{$host}__assets/images/home.png'> Beranda
	</button>
	<button class='tombol-menu-awal' onClick="loadUrl('{$host}index.php/kasir');">
		<img src='{$host}__assets/images/kasir.png'> Kasir
	</button>
	<button class='tombol-menu-awal'>
		<img src='{$host}__assets/images/pembelian.png'> Pembelian
	</button>
	<br/>
	<br/>
	<br/>
	<button class='tombol-menu-awal'>
		<img src='{$host}__assets/images/reservasi.png'> Reservasi
	</button>
	<button class='tombol-menu-awal' href='javascript:void(0);' onClick="loadUrl('{$host}index.php/pengaturan');">
		<img src='{$host}__assets/images/setting.png' > Pengaturan
	</button>
	<button class='tombol-menu-awal'>
		<img src='{$host}__assets/images/laporan.png'> Laporan
	</button>
</div>
