<!DOCTYPE html>
<html lang="en">
<head>
  <title>JResto Cashier v1.0</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="{$host}__assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{$host}__assets/plugin/easyui/themes/metro-gray/easyui.css" />
	<link rel="stylesheet" type="text/css" href="{$host}__assets/plugin/easyui/themes/icon.css" />
	
	<script>
		var host = "{$host}";
	</script>
    <script type="text/javascript" src="{$host}__assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="{$host}__assets/js/main.js"></script>
	<script>
		$(document).ready(function(){
			$('#bodyHt').layout();
		});
	</script>
</head>
<div id='bodyHt' fit="true" style="overflow: hidden;border:none;">
	<div region="north" border="false">
		<div style="background:#FFD1A4;padding:10px;height:30px;">
			<font style='font-size:20px;font-weight:bold;'>#NAMARESTOANDA</font>
			<a style='float:right;' href="{$host}index.php/login/logout" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-lock'">LOG OUT</a>
		</div>
	</div>
	<div id="mainContainer" region="center" style="overflow-y:auto;background:#fff; padding:10px 10px 10px 10px;">
		{include file = "{$mods}.html" }
	</div>
    <div region="south" border="true">
        <div style="text-align: center; padding:5px;background:#FDBF82;">
			<b>JResto Cashier v1.0</b>
			&copy; Jingga Sinergi Idea
	   </div>
    </div>
</div>
</html>
