<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JResto Cashier v1.0</title>
  <link href="" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="{$host}__assets/css/style-login.css" media="screen" type="text/css" />
</head>
<body>
	<div class="login-card">
		<center><h3 style='margin:0px !important;color:#737272;'>JResto Software</h3></center>
		<br/>
		<form name='frmLogin' action="{$host}index.php/services/servicenya/get_kode" method="post">
			<input type="text" name="kode_perangkat" placeholder="Masukan Kode Perangkat Kasir">
			<input type="submit" id="cek" class="login login-submit" value="Cek Kode Perangkat">
		</form>
		<div class="login-help">
			JResto v1.0 - Jingga Lintas Imaji
		</div>
		{if isset($salah)}
            <div style="text-align:center;margin-top:30px">
				<span style="color:red;"><b><i>{$salah}</i></b></span>
			</div>
		{/if}	
	</div>
</body>
</html>