<form method='post' url="{$host}simpandata/{$submodul}" id="{$submodul}" enctype="multipart/form-data">			
	<fieldset>
		<legend>Pengaturan Utama</legend>
		{include file='tmp/input_form.html' size='sedang' type='text' tampilan='label' label='Nama Resto' name='nama_resto' value={$data.nama_resto|default:''} }
		{include file='tmp/input_form.html' size='besar' type='text' tampilan='label' label='Alamat' name='alamat_resto' value={$data.alamat_resto|default:''} }
		{include file='tmp/input_form.html' size='kecil' type='text' tampilan='label' label='Jumlah Lantai' name='jumlah_lantai' value={$data.jumlah_lantai|default:''} }
	</fieldset>
</form>
<div style='margin-top:5px;'>
	{include file='tmp/button.html' form=$submodul id='save_main_setting' text='simpan' icon='save' bentuk='tombol_save_standard'}
</div>
