<div class="grids">
	<div class="panel panel-widget">
		<div class="chute chute-center text-center">
			<div class="row mb40">
				<div class="col-md-12">
					<span style='width:70%;'>
						<span style="margin-right: 5px; float: left; width: 20px; height: 13px; background: #00FF6A; border: 1px solid silver;"></span>
						<span style='float:left;margin-right:5px'>
							Tersedia
						</span>
						<span style="margin-right: 5px; float: left; width: 20px; height: 13px; background: #71B7E0; border: 1px solid silver;"></span>
						<span style='float:left;margin-right:5px'>
							Terpakai
						</span>
						<span style="margin-right: 5px; float: left; width: 20px; height: 13px; background: #FF7373; border: 1px solid silver;"></span>
						<span style='float:left;margin-right:5px'>
							Tidak Tersedia
						</span>
					</span>
					<div style='width:100%;height:75%;'>
						<div id='tab-lantai'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#kembali_ke_menu').linkbutton({
		iconCls: 'icon-undo'
	});
$(function(){
	var tab_array=[{$jml_lt}];
	genTab( '#tab-lantai', 'kasir', '', tab_array, 'undefined', '', '', getClientHeight()-100, getClientHeight()-140 );
});
	
</script>
