<div class="grids">
	<div class="panel panel-widget">
		<div class="chute chute-center text-center">
			<div class="row mb40">
				<div class="col-md-12">

					<div style='width:100%;height:78%;'>
						{include file='tmp/grid.html' tipe_grid='list_pembelian' divnya='div_pembelian' tinggi_grid='(getClientHeight()-150)' tinggi_toolbar='30px' crud="true" tambah="true" edit="true" hapus="true" modul="pembelian" tinggi_toolbar='50px'}
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
</script>
